<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'EddyTools Assessment System'">
  <content has-header="true" has-tabs="true" padding="true">
    <img src="img/eddy_profile.jpg" class="ionic-logo">
    <ul class="bullet">
    <li>
      This is a prototype app for Assessment System.
    </li>
    <li>
      If you like it and want it for self/employee/student assessment in your organization then please
      visit our website and contact us for enquiry. We can provide custom solution for your need.
      <a href="http://www.eddytools.com" target="_blank">products</a>.
    </li>
    <li>
      If you have found a bug? 
      <a href="mailto:eddytools@gmail.com">Contact Us</a>
    </li>
    </ul>
    <br>
    <p>
    <center>&copy; 2016 <br> EddyTools &trade;</center>
    </p>
    
  </content>
</view>
